@model IEnumerable<SinExWebApp20328991.Models.PackageTypeSize>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackageTypeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackageTypeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PackageTypeSizeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PackageTypeSizeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PackageTypeSizeID })
        </td>
    </tr>
}

</table>
