@model IEnumerable<SinExWebApp20328991.Models.ServicePackageFee>

@{
    ViewBag.Title = "Service Package Fees";
}

<h2>Service Package Fees</h2>

<p>
    The currency used to display:
    @using (Html.BeginForm("Index", "ServicePackageFees", FormMethod.Post))
    {
  <select name="currency">
      <option value="CNY">CNY</option>
      <option value="HKD">HKD</option>
      <option value="TWD">TWD</option>
      <option value="MOP">MOP</option>
  </select>
<div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Query" class="btn btn-default" />
</div>
    }
</p>
@{var rate = ViewBag.currencyRate;}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PackageType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PackageType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumFee)
        </td>
        <td>
        
        </td>
    </tr>
}

</table>
